<p>header works!</p>
<!--<div [hidden]="shoppingCartItems1.length==0">
        <ul>
                <li *ngFor='let scI of shoppingCartItems1'>
                    {{scI}}
                </li>
         </ul>
       
</div>
<div [hidden]="shoppingCartItems1.length>0">
        No Items found
</div>-->

<div *ngIf="shoppingCartItems1.length>0">
        <ul>
                <li *ngFor='let scI of shoppingCartItems1'>
                    {{scI}}
                </li>
         </ul>
       
</div>
<div *ngIf="shoppingCartItems1.length==0">
        No Items found
</div>